body {
  margin: 20px;
}

h2 {
  text-align: center;
}

.game {
/*  display: flex;
  flex-direction: row;*/
  text-align: center;
}

.game-board {
  display: inline-block;
}

.game-info {
  margin-left: 20px;
}